* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 18px);
  column-gap: 0px;
  row-gap: 0px;
  justify-items: stretch;
  font-size: 12px;
}

.square {
  width: 18px;
  height: 18px;
  border: 1px black solid;
  background: white;
  margin: 0px;
}

.snake-body {
  background-color: red;
}

.column-1 {
  background-color: blue;
}

.arrows {
  display: grid;
  grid-template-areas: ". up ."
                      "left down right";
  width: 200px;
  
}

.arrows img {
  width: 50px;
}

.arrow-up {
  grid-area: up;
}

.arrow-left {
  grid-area: left;
}

.arrow-right {
  grid-area: right;
}

.arrow-down {
  grid-area: down;
}

.food {
  background-color: blue;
}

.fail-inactive {
  display: none;
}